.faq .container {
    max-width: 70%;
    border-radius: 5px;
    margin-top: 4%;
    margin-bottom: 4%;
  }
  .faq .box:hover {
    transform: scale(0.95);
  }
  .faq .box {
    background-color: #fff;
    margin-bottom: 20px;
    transition: all 0.2s;
  }
  .faq button {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 15px 20px;
  }
  .faq h2 {
    font-weight: 500;
  }
  .faq p {
    padding: 20px;
  }
  .faq .accordion:hover {
    cursor: pointer;
    color: #29208c;
    
  }